{% extends 'base.html' %}

{% block content %}

<br>


<div class = "shadow p-4 mb-5 bg-body rounded" style="width: 700px; margin: auto;">



<h2>Log In</h2>
<form action="" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <input placeholder="Username" type="text" class="form-control" name="username" id="username">
  </div>
  <div class="mb-3">
    <input placeholder="Password" type="password" class="form-control" name="password" id="password">
  </div>



  <button type="submit">Log In</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>

</div>

{% endblock %}
