.carousel {
  
    
    height:480px;
    margin: auto;
  }
  
  .carousel-inner > .carousel-item > img {
    width:854px;
    height:480px;
  }

  footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: #212529;
    display: flex;
    align-items:center;
    justify-content: center;
    color: white;
  }

  body {
    background-color: whitesmoke;
    color: black;
    font-family: American Typewriter, serif	;

  }

  .card-group{
    width: 75rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }

  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:90%;
    position:absolute;
  }

  a {
    cursor: pointer;
  }
  
  a:hover+div {
    display: block;
    color: #7dafff;
    font-size: 20px;
  }




  