{% extends 'base.html' %}

{% block content %}

	<br>
	  <div class="container-fluid mt-5" style="color: white; background-color: #004646;">
	    <h1 style="text-align: center;">About Us</h1>
	    <p style="text-align: center;">Founded here in San Diego in 1849, our small bookstore has worked for over 170 years to bring you everything you need, ranging from textbooks, comic books, classic literature, and more. Our current staff comprises of three dedicated workers who work tirelessly to provide our customers with everything they need for any and all situations. Not only can you visit us on-site, but we also provide options for delivery or drop-off at one of our many pre-designated locations. We also host may events throughtout the year, so feel free to check them out and consider joining us for an upcoming booksigning, reading club, or midnight release.</p>
	  </div>
    
	<div class="container-fluid mt-5" style="color: white; background-color: #004646;">
        <div class="row">
            <div class="col-sm-6" style="text-align: center;">
                <h1>Contact Us</h1>
                <p>Phone Number: (619) 594-7525</p>
                <p>Address: 5500 Campanile Dr, San Diego, CA 92182</p>
                <p>Store Hours:</p>
                <p>Monday:    8AM-7PM</p>
                <p>Tuesday:   8AM-7PM</p>
                <p>Wednesday: 8AM-7PM</p>
                <p>Thursday:  8AM-7PM</p>
                <p>Friday:    8AM-4PM</p>
                <p>Saturday:  10AM-3PM</p>
                <p>Sunday:    CLOSED</p>
            </div>
            <div class="col-sm-6">
                <!--Google map-->
                <div id="map-container-google-2" class="z-depth-1-half map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53673.17951945633!2d-117.13087510018583!3d32.77704382867821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d95686a6a04a21%3A0xc39f2ac6bf82f916!2sSan%20Diego%20State%20University!5e0!3m2!1sen!2sus!4v1667102182561!5m2!1sen!2sus" width = "800" height = "600" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}