{% extends 'base.html' %}

{% block content %}
	
	<br>
	
	<div class="container-fluid p-5" style="color:white; background-image: url('/static/imgs/bg.png');">

		<h1 style="text-align: center;">COVER COVE BOOKS</h1>

		<p style="text-align: center;">Grand Opening January 1st 2023! Come join us for 20% off your first purchase when you sign up for an account!</p>
	</div>

	<br>

	<!--Slideshow of books-->
	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
		<div class="carousel-indicators">
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<a href="{% url 'harrypotter' %}" style="color: white;">
			<img src="/static/imgs/Harry+Potter+Books.png" class="d-block w-100" alt="..." style="height: 720px;">
		    
			<div class="carousel-caption d-none d-md-block" style="backdrop-filter: blur(2px);">
			  <h5>OUR BEST SELLING SERIES OF ALL TIME</h5>
			  <p>Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. 
				The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, 
				all of whom are students at Hogwarts School of Witchcraft and Wizardry. </p>
			</a>
			</div>
		  </div>
		  <div class="carousel-item">
			<a href="{% url 'lordofrings' %}" style="color: white;">
			<img src="/static/imgs/lotr.webp" class="d-block w-100" alt="..." style="height:720px;">
			<div class="carousel-caption d-none d-md-block" style="backdrop-filter: blur(2px);">
				<h5>J. R. R. Tolkien's greatest adventure!</h5>
				<p>
					The Lord of the Rings is an epic high-fantasy novel by English author and scholar J. R. R. Tolkien. Set in Middle-earth, 
					intended to be Earth at some time in the distant past, the story began as a sequel to Tolkien's 1937 children's book The Hobbit, 
					but eventually developed into a much larger work. Written in stages between 1937 and 1949, The Lord of the Rings is one of the best-selling books ever written, 
					with over 150 million copies sold. 
				</p>
			  </a>
			  </div>
		  </div>
		  <div class="carousel-item">
			<a href="{% url 'scottpilgrim' %}" style="color: white;">
				<img src="/static/imgs/sp.webp" class="d-block w-100" alt="..." style="height:720px;">
				<div class="carousel-caption d-none d-md-block" style="backdrop-filter: blur(4px);">
					<h5>Bryan Lee O'Malley</h5>
					<p>
						As bass guitarist for a garage-rock band, Scott Pilgrim has never had trouble getting a girlfriend; 
						usually, the problem is getting rid of them. But when Ramona Flowers skates into his heart, he finds she has the most troublesome baggage of all: 
						an army of ex-boyfriends who will stop at nothing to eliminate him from her list of suitors. 
					</p>
				  </a>
				  </div>
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	  </div>
	
	<br>

	<div class="container-fluid p-5"style="color:white;background-image: url('/static/imgs/bg.png');" >
		<h1 style="text-align: center;">BEST SELLERS</h1>
	</div>

	<br>

	<div class="card-group">
		
		<div class="card">
			<a href="{% url 'harrypotter' %}"style="color:black;">
		  <img src="/static/imgs/260936.webp" class="card-img-top" alt="...">
		
		  <div class="card-body">
			<h5 class="card-title">Harry Potter</h5>
			<p class="card-text">These novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles</p>
		  </div>
		  <div class="card-footer">
			<small class="text-muted">J.K. Rowling ®</small>
		  </div>
		</a>
		</div>
		<div class="card">
			<a href="{% url 'lordofrings' %}"style="color:black;">
		  <img src="/static/imgs/ltr_book.webp" class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">The Lord of the Rings</h5>
			<p class="card-text">The future of civilization rests in the fate of the One Ring, which has been lost for centuries. Powerful forces are unrelenting in their search for it. But fate has placed it in the hands of a young Hobbit named Frodo Baggins, who inherits the Ring and steps into legend. A daunting task lies ahead for Frodo when he becomes the Ringbearer - to destroy the One Ring in the fires of Mount Doom where it was forged.</p>
		  </div>
		  <div class="card-footer">
			<small class="text-muted">J. R. R. Tolkien ®</small>
		  </div>
		</a>
		</div>
		<div class="card">
			<a href="{% url 'scottpilgrim' %}" style="color:black;">
		  <img src="/static/imgs/sp.webp" class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Scott Pilgrim vs. the World</h5>
			<p class="card-text">As bass guitarist for a garage-rock band, Scott Pilgrim has never had trouble getting a girlfriend; usually, the problem is getting rid of them. But when Ramona Flowers skates into his heart, he finds she has the most troublesome baggage of all: an army of ex-boyfriends who will stop at nothing to eliminate him from her list of suitors.</p>
		  </div>
		  <div class="card-footer">
			<small class="text-muted">Bryan Lee O'Malley ®</small>
		  </div>
		</a>
		</div>
	
	  </div>
	  	
	  <br>
	  <br>

{% endblock %} 

    
