{% load static %}

<nav class="navbar navbar-expand-lg" style="background-color: #004646;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static '/imgs/bookstoreLogo.png' %}"style="width:70px;background-color: white;" class="rounded-pill"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color:white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'events' %}" style="color:white;">Event List</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
              About Us
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'about' %}">Contact Us</a></li>
              
            </ul>
          </li>

              {% if user.is_authenticated %}
            <li class="nav-item">			
                <a class="nav-link" href="{% url 'myprofile' %}" style="color:white;">My Profile</a>
              </li>
            
            <li class="nav-item">			
                <a class="nav-link" href="{% url 'logout' %}" style="color:white;">Logout</a>
              </li>
            {% else %}
        
              <li class="nav-item">			
                <a class="nav-link" href="{% url 'login' %}" style="color:white;">Login/Register</a>
            {% endif %}
        
           
        </ul>
        <a class="nav-link active" aria-current="page" href="{% url 'checkout' %}" style="color:white;">CART</a>
      </div>
    </div>
  </nav>