{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-5" style="color:white; background-image: url('/static/imgs/bg.png');">

	<h1>Scott Pilgrim Vol. 1: Precious Little Life</h1>

</div>

<br>
	  
<div class="container-fluid p-5" style="background-color: white">
	<div class="row">
		<div class="col-sm-2">
			<img src="/static/imgs/spcover.jpg" class="center" alt="cover of the book" style="height:300px;width:auto;">
		</div>
		<div class="col-sm-6">
			<h2>Description</h2>
			<p>
				Scott Pilgrim plays in a band which aspires to success. He dates Knives Chau, a high-school girl five years younger, 
				and he hasn't recovered from being dumped by his former girlfriend, now a success with her own band. 
				When Scott falls for Ramona Flowers, he has trouble breaking up with Knives and tries to romance Ramona. 
				As if juggling two women wasn't enough, Ramona comes with baggage: seven ex-lovers, 
				with each of whom Scott must do battle to the death in order to win Ramona.
			</p>
			<form>
				<input type="radio" id="hardcover" name="booktype" value="hardcover">
				<label for="hardcover">Hardcover</label>
				<br>
				<input type="radio" id="paperback" name="booktype" value="paperback">
				<label for="paperback">Paperback</label>
				<br>
				<p>Price: $34.99</p>
				<label for="quantity">Quantity:</label>
				<input type="number" id="quantity" name="quantity" min="1" max="20" step="1" value="1">
				<button type="submit">Add to Cart</button>
			</form>
		</div>
		<div class="col-sm-4">
			<h2>Details</h2>
			<p>
				Publisher: Oni Press; Illustrated edition (August 14, 2012)
			</p>
			<p>
				Language: English
			</p>
			<p>
				Hardcover/Paperback: 192 pages
			</p>
			<p>
				Item Weight: 1.23 pounds
			</p>
			<p>
				6 x 0.8 x 9 inches
			</p>

		</div>
	</div>

	<br>
	<h2>About the Author</h2>
	<p>Originally studying Film at the University of Western Ontario, Bryan Lee O'Malley dropped out of school and became a Canadian cartoonist. 
		O'Malley worked from 2004 to 2010 on the Scott Pilgrim series. The series was a critical and commercial success, 
		spawning a full-color re-release, a 2010 film adaptation, Scott Pilgrim vs. the World, a video game adaptation, 
		and a number of official soundtracks.
	</p>
		<br>

</div>
{% endblock %}