{% extends 'base.html' %}

{% block content %}

	<br>

	
	<div class="container-fluid p-5" style="background-color: #004646; color: white; text-align: center;">
		<h1>Events</h1>
		<h2>George Orwell Book Signing</h2>
		<h3>November 3, 2023 - 12:30pm-2:30pm</h3>
		<p>Join us as author George Orwell reads an excerpt of his popular novel, 1984. Afterwards, there will be a meet and greet, where you can ask Orwell your burning questions on metaphores, dystopian futures, and the current state of our socio-economic status.</p>
		<p>Free snacks and beverages will be provided.</p>
		<br>
		<h2>Weekly Book Club</h2>
		<h3>November 5, 2023 - 10:00am-11:30am</h3>
		<p>Consider joining our book club, which meets every Saturday morning. The book we will be reading this month is The Hitchhiker's Guide to the Galaxy, by Douglass Adams. We will spend the month discussing a variety of topics, such as: favorite characters, symbolism between events in the book and their real-life counterparts, and the effectiveness of Adams' comedic writing.</p>
		<p>Members of the club are welcome to bring desserts and drinks.</p>
		<br>
		<h2>Midnight Release: The Winds of Winter</h2>
		<h3>November 12, 2023 - 11:30pm-1:00am</h3>
		<p>We are excited to announce that the newest volume of Game of Thrones will be releasing on the 13th of November. Join us for our exclusive midnight release on the night of November 12 to get a 12" x 18" map of Winterfell, signed by George R. R. Martin, as well as a complimentary bookmark.</p>
		<p>Remember to enter building in an orderly manner to keep the book distributions efficient.</p>
	</div>
	
{% endblock %}