{% extends 'base.html' %}

{% block content %}
<div class = "shadow p-4 mb-5 bg-body rounded" style="width: 700px; margin: auto;">
	<br>
	<div class="container-fluid p-5">
		<h1>Shipping Information</h1>
        <h3>USA Only</h3>
	</div>
       <!-- Shipping Form-->
    {% if submitted %}
    Your shipping info was submitted 
    {% else %}
    <form action = "" method = POST>
      <!--<form action = "" method = POST>-->
        {% csrf_token %}
        
        {{ form.as_p }}

        <BR>
          <button type="submit" class="btn btn-primary">Proceed to payment</button>
        <BR>
        <BR>
        <BR>
  
      </form>
    {% endif %}
    </div>
        <!--
        <button type="submit" class="btn btn-primary">Proceed to payment</button>
      </form>
    -->

{% endblock %}